################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OganizApp/.vs/OrganizApp/v15
/OganizApp/.vs
